<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.holyong.elemodel.mapper.DicGenderMapper">



    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.holyong.elemodel.entity.DicGender">
        <id column="id" property="id" />
        <result column="code" property="code" />
        <result column="name" property="name" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, code, name
    </sql>

    <!--自定义关联查询-->
    <!-- 表名 -->
    <sql id="t_name">dic_gender</sql>
    <!-- 别名 -->
    <sql id="t_alias">dic_gender as gender</sql>
    <!--外键表关联定义 -->
    <sql id="join"></sql>
</mapper>
